body {
  margin: 0;
  font-size: 18px;
  background-color: hsl(185, 75%, 39%);
  justify-content: center;
}

hr {
  color:hsl(227, 10%, 46%);
  
}

.p
{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
   display: block;   

}


/* Sections */
.top-section {
  position: absolute;
  bottom: 35%;
  right: 53%;
}

.bottom-section {
  position: absolute;
  left: 50%;
  top: 48%;
  z-index: -1;
}

/* Card Section */

.card {
  background-color: #fff;
  font-family: Kumbh Sans, sans-serif, bold;
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-top: 150px;
  margin-left: 550px;
  border-radius: 20%;
}

.card-title {
  margin: 20px 0 10px;
  line-height: 1;
}

.card-header {
  padding: 0;
}
.card-body,
.card-footer {
  font-weight: 700;
  background-color: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 20px;
}
.profile-pic {
  border-radius: 50%;
  position: relative;
  border: solid 5px white;
  margin-top: -15%;
  align-items: center;
}

.age,
.addr {
  font-family: monospace;
  color: hsl(227, 10%, 46%);
  margin: 0;
  padding-bottom: 15px;
}

.profile-pic-pattern {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.card-title {
  background-color: #fff;
  text-align: center;
  color: #000;
  font-weight: 700;
  display: inline-block;
  width: 60%;
  top: 0;
}

.social-stats {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: 0;
  position: relative;
}

.social-tags {
  color: hsl(227, 10%, 46%);
  font-family: monospace;
  font-size: large;
  font-size: 9px;
  padding-top: 5px;
  letter-spacing: 1px; 
  line-height: 2.5px;
  margin: 0;
  position: relative;
 
}

.followers,.likes
{
    display: inline;
}

/* Arrbitration Section */

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 25px 75px 0 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
